* {
    margin: 0;
    padding: 0;
}

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


/* shared style */

.btn {
    width: 164px;
    height: 44px;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    border-color: none;
    border: none;
    cursor: pointer;
}

.card-img {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.card-h {
    margin-top: 16px;
    width: 274px;
    height: 29px;
    opacity: 1;
    font-size: 24px;
    text-align: center;

}

.card-p {
    margin-top: 16px;
    height: 40px;
    width: 240px;
    font-size: 16px;
    text-align: center;
    color: #627382;
}

.list {
    display: flex;
    align-items: center;
}

/* nav bar */
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;
}

nav ul li {
    list-style: none;
    margin-right: 32px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;

}

/* header */

.hero {
    background: url(Folder/assets/hero-bg.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-item {
    width: 1360px;
}

.h-text {

    text-align: center;
    margin-bottom: 16px;
}

.item-style-p {
    background: url(Folder/assets/round.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 13px;
    background-position-y: left;
    color: #469165;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    width: 229px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 16px;
}

.item-style-h {
    font-size: 72px;
    opacity: 90%;
    color: white;


}

.item-style-htext {
    color: #30B868;
    height: 168px;
    width: 770px;

}

.p-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-style-p2 {
    font-size: 18px;
    text-align: center;
    color: white;
    width: 770px;
    text-align: center;



}

.button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 44px;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    border-color: none;
    border: none;
    cursor: pointer;
    font-size: 13px;

}

.btn2 {
    background-image: url(Folder/assets/play.png);
    background-position: center;
    background-size: 18.375336647033691px 20.872360229492188px;
    background-repeat: no-repeat;
    background-position-x: 22px;
    background-position-y: left;
    padding-left: 10px;
    margin-left: 12px;
    width: 200px;
    height: 44px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
    font-size: 13px;
}

/* style main */

.main-text {
    display: flex;
    justify-content: center;
    padding: 0px 120px;
}

.main-h {
    margin-top: 40px;
    width: 1360px;
    font-size: 48px;
    font-weight: 700px;
    text-align: center;


}

.main-p {
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
    text-align: center;
}

/* style card-box */
.card-box {
    margin-top: 44px;
    padding: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.card-1 {
    width: 370px;
    height: 300px;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* style second-brain */

.second-brain {
    padding: 120px;
    display: flex;
    align-items: center;
    gap: 180px;
}

.brain-img {
    border-radius: 12px;
}

.brain-p {
    color: #469165;
    font-size: 16px;
    height: 20px;
    width: 700px;
}

.brain-h {
    font-size: 48px;
    height: 116px;
    width: 700px;
}

.brain-sub {
    height: 60px;
    width: 700px;
    font-size: 16px;
    color: #627382;
}

/* Style last */

.last {
    padding: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.last-box {
    width: 1800px;
    height: 384px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #F7F6F2;


}

.last-h {
    width: 1280px;
    height: 48px;
    opacity: 1;
    font-size: 40px;


}

.last-p {
    margin-top: 16px;
    width: 1280;
    height: 48;
    opacity: 1;
    font-size: 16px;
    color: #627382;

}



/* footer-style */

.footer-style{
    background-repeat: no-repeat;
    margin-top: 80px;
    height: 348px ;
    background-size: cover;
    background-color: #001931;

}

.footer-top{
    display: flex;
    padding: 120px 120px 80px 120px;
    justify-content: space-between;

}

.footer-text{
    color: #FFFFFF;
    font-size: 20px;
}

.footer-logo{
    background: #FFFFFF;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
}

.footer-divider {
    height: 1px;
    background-color: #627382;
    margin-bottom: 30px;

}


.rights{
    text-align: center;
    color:#F5F5F5;
    font-size: 16px;
}